html {
  padding: 25px;	
  background-color: white;
}

body {
	background-color: #eee; 

}

header {
	height: 50px;
	border-bottom: 1px solid lightgrey;
}

.fields {
	padding: 10px;
}

.field {
	background-color: white;
	height: 100px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
}