#extra-fields {
  padding: 25px;
  display: flex;
  flex-direction: column;
}


.field {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.field > *, .field > .right > *, .field .middle > * {
    height: 100%;
    outline: none;
}

.field.sortable-ghost {
  border: 1px dashed deepskyblue;
  opacity: 0.5;
}

.field.sortable-ghost * {
  opacity: 0;
}


.field input {
  height: 100%;
  border: none;
  text-align: left;
  text-indent: 20px;
  width: 200px;
}

.field button {
  height: 100%;
}

.field#add {
  background-color: #ddd;
  opacity: 0.5;
  border: 1px dashed lightgrey;
}

.field#add:hover {
  opacity: 1;
}



.right button {
  color: #bbb;
}

.middle select {
  color: grey;
}


.showOnEmails.enabled {
  color: #bb2929 !important
}


.required.enabled {
  color: #bb2929 !important
}


.field .remove {
  /*background-image: url('./remove.svg');*/
  width: 50px;
  height: 50px;
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  filter: saturate(0);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.field .remove i {
  width: 16px;
  height: 16px;
}

.field:hover .remove {
  opacity: 0.5;
} 


.field .remove:hover {
  opacity: 1;
  filter: saturate(1);
}