#extra-fields {
  padding: 25px;
  display: flex;
  flex-direction: column;
}


.field {
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  padding-right: 20px;
  margin-bottom: 20px;
}

.field.sortable-ghost {
  border: 1px dashed deepskyblue;
  opacity: 0.5;
}

.field.sortable-ghost * {
  opacity: 0;
}


.field input {
  height: 100%;
  border: none;
  text-align: left;
  text-indent: 20px;
}

.field#add {
  background-color: #ddd;
  opacity: 0.5;
  border: 1px dashed lightgrey;
}

.field#add:hover {
  opacity: 1;
}



.right button {
  color: #bbb;
}

.middle select {
  color: grey;
}